<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521348423908-ca0hd2a7nqqfar40bierva186kbrm75c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521348423908-ca0hd2a7nqqfar40bierva186kbrm75c</string>
	<key>API_KEY</key>
	<string>AIzaSyBcfcx-DTJtcrXoRlpev53wSy0R2Hm11Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>521348423908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.atlas-phm.scan</string>
	<key>PROJECT_ID</key>
	<string>atlas-phm</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-phm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521348423908:ios:f56652c6b3f714f94c0cf1</string>
</dict>
</plist>